.container{
    border: 5px solid cyan;
    border-radius: 10px;
}

.form-control{
    border:1px solid;
    width: 600px;
}

.form-control:focus{
    border-color: #86b7fe;
}

.search-btn{
    width: 200px;
}